<h2 class='title'>Message Details </h2>
<%= @message.title%><br/>
<%= simple_format(@message.body)%><br/>
<%=link_to "Edit",edit_message_path(@message)%> |
<%=link_to "View all Messages",messages_path%> |
<%= link_to_function "Add Comment","$('#new_comment').show()" %>
<h3>Comments</h3>

<div id="new_comment" style="display: none;background-color: lightyellow; padding: 10px; margin: 10px; border: 2px solid yellow;">
<%= render "comments/form"%>
</div>
<%= render "comments/comments" %>
